@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-image:(../07_001.png),url(../04pic.jpg);
  background-repeat:no-repeat,no-repeat;
  background-size:10% 10%,cover;
  background-color:lightgrey;
  margin:5px;
}

#text-shadow{
  padding:0 40px;
  font-size:30px;
}

.border-radius-one{
  border-radius:50px;
  background-color:floralwhite;
  padding:10px;
  margin:5px;
}

#box-shadow{
  font-size:30px;
}

.box-drop_shadow{
  box-shadow:2px 2px 5px gray; padding:5px; margin:20px;
}

.box-sizing{
  width:120px;
  padding:10px;
  border:10px;
  margin:10px;
  border-style:solid;
  border-color:black;
}

.border-box{
  box-sizing:border-box;
}
