@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-image:url(07_001.png),url(04pic.jpg);
  background-repeat:no-repeat,no-repeat;
  background-size:10% 10%,cover;
  background-color:lightgray;
  margin:5px;
}

#text-shadow{
  padding:0 40px;
  font-size:30px;
}

.border-radius-one{
  border-radius:50px;
  background-color:floralwhite;
  padding:10px;
  margin:5px;
}

#box-shadow{
  font-size:30px;
}

.box-drop_shadow{
  box-shadow:2px 2px 5px gray; padding:5px; margin:20px;
}

.box-sizing{
  width:120px;
  padding:10px;
  border:10px;
  margin:10px;
  border-style:solid;
  border-color:black;
}

.border-box{
  box-sizing:border-box;
}

.skew-gradient{
  background-color:white;
  background:linear-gradient(135deg,orangered 0%,white 50%,orange 100%);
}

.button{
  display:block;
  margin:5px;
  padding:10px;
  width:200px;
  text-align:center;
  border-radius:5px;
  box-shadow:1px 1px 3px dimgray;
  color:white;
  font-weight:bold;
  text-shadow:1px 1px 0 rgba(0,0,0,0.4);
  background-color:blue;
  background:linear-gradient(0deg,#00679A,#0081B4 50%,#63B3D2 50%,#BFE5F2);
}

.translate {
  font-size:10px;
  width:100px;
  text-align:center;
  padding:45px 0px;
  margin:20px;
   background-color:blue;
}
.X{
  transform:translateX(10px);
}

